html {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
  position: absolute;
  font-family: "Open Sans", sans-serif;
}

/*******************************************************************/


/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 52px;
  /*text-shadow: 2px 2px 5px white;*/
  margin: 0 auto;
  padding-top: 20%;
  color: white;
  /* text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit; */
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #1C2D59;

}

.main {
  color: black;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.fit {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#1C2D59, #596686);
  background-repeat: no-repeat;
}

.stats {
  width: 90%;
  background-color: #E1E5ED;
  border-radius: 15px 15px 0px 0px;
  padding: 15px 0px;
  /* top left top right bottom right bottom left */
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 1px;
  margin: 0 auto;
  left: 5%;

}

.item {
  width: 33%;
  position: relative;
  border-left: 1px solid #1C2D59;
}

#oops {
  border-left: 30px solid #E1E5ED;
}

.overview {
  box-sizing: border-box;
  width: 100%;
  background-color: #E1E5ED;
  color: black;
  padding: 5% 10%;
  text-align: left;
}

.content {
  color: black;
  padding: 5% 10%;
}

.pov {
  margin: 2% auto;
  text-align: center;
}

.single {
  display: block;
  margin: 2% auto;
  border: 1px solid #DDDDDD; 
  width: 700px;
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
}

.finalgif{
  display: block;
  margin: 2% auto;
}

.heuristic p {
  margin-bottom: 1%;

}

.wireframe {
  display: block;
  width: 100%;
}

/* final product demo yt link */

.final-product {
  font-size: 22px;
  margin: 8px 16px;
  text-align: center;
}

header {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 70px;
  /*box-shadow: 0px 2px 20px 0px black;*/
  z-index: 2;
  background-color: #1C2D59;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #1C2D59;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:hover {
  color: #DDDDDD;
}

/* if we're on this page , activate this color */
.topnav a.active {
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  /* (x,y) (L/R, up/down) negative means more left/up, positive is right/down */
  /* (0,0) takes the top left corner of the link and aligns it and the top middle of the page*.*/
  transform: translate(-50%, -50%); 
}

.topnav-right {
  float: right;
}

